@import url('https://fonts.googleapis.com/css2?family=khand&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility class to hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
  }

  @layer utilities {
    .clip-polygon-top-right {
      clip-path: polygon(0 0, 80% 0, 100% 15%, 100% 100%, 0 100%);
    }
  }
