@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility class to hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }